.pair-card {
  background-color: var(--gray-100);
  z-index: 0;
  border-radius: 12px;
  padding: 1rem;
  transition: box-shadow 0.3s ease;
  height: 100%;
  // height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // border: 0.2px solid var(--dark-color);

  .pair-classification-row {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 1rem;
  
    .classification-group {
      // display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 0.5rem;
    }
  
    .classification-button {
      font-size: 0.75rem;
    }
  }

  &:hover {
    box-shadow: 0 6px 10px var(--gray-200);
  }

  .pair-section {
    margin-bottom: 1rem;

    &.user {
      background-color: #e6f0ff;
      border-left: 4px solid #4285f4;
      padding: 0.75rem;
      border-radius: 8px;
    }

    &.ai {
      background-color: white;
      border-left: 4px solid #34a853;
      padding: 0.75rem;
      border-radius: 8px;
    }

    .history-strong {
      font-weight: 600;
      margin-bottom: 0.5rem;
      display: block;
      color: black;
    }

    .history-p {
      margin: 0;
      line-height: 1.5;
      color: black;
      // white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2; // 최대 줄 수
      -webkit-box-orient: vertical;
      max-width: 100%;
    }

    .timestamp {
      font-size: 0.75rem;
      color: #888;
      margin-top: 0.5rem;
      display: block;
    }
  }

  .history-card-footer {
    text-align: right;
    font-size: 0.8rem;
    // color: #777;
    margin-top: auto;
  }
  .history-card-button-row{
    // align-items: flex-end;
    // float: right;
    display: flex;
    gap: 1rem;
    margin-left: auto;
  }

  .history-card-button-details{
    background-color: var(--primary-color);
    color: var(--white-color);
    cursor: pointer;
  }

  .history-card-button-remove {
    background-color: var(--secondary-color);
    color: var(--white-color);
  }
}
.badge-container {
  // display: flex;
  align-items: center; // 또는 baseline
  // gap: 2rem;
}
