/* Container */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  /* Title */
  .title {
    color: #ff5533;
    font-size: 2.1rem;
    font-weight: 700;
    margin-bottom: 0.7rem;
    letter-spacing: 0.1em;
  }
  
  /* Login Text */
  .login-text {
    color: #fff;
    font-size: 2.6rem;
    font-weight: 700;
    margin-bottom: 2.5rem;
  }
  
  /* Login Box */
  .login-box {
    /* background: #181818; */
    margin-top: 2rem;
    border-radius: 18px;
    padding: 2rem 2rem 2rem 2rem;
    min-width: 340px;
    box-shadow: 0 0 0 1px var(--gray-300);
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  
  /* Social Buttons */
  .social-button {
    cursor: pointer;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 1.05rem;
    font-weight: 500;
    border-radius: 8px;
    padding: 12px 0;
    transition: background 0.2s;
  }
  
  .social-button .icon {
    margin-right: 12px;
    font-size: 1.4rem;
  }
  
  /* 각 소셜 버튼 색상 */
  
  .social-button.google {
    background: #fff;
  color: #222;
  border: 1px solid #e0e0e0;
  }
  
  .social-button.google:hover {
    filter: brightness(0.95);
  }
  
  .social-button.apple {
    background: #000;
    color: #fff;
  }
  
  .social-button.apple:hover {
    background: #444;
    filter: brightness(0.95);
  }
  
  /* Divider */
  .divider {
    text-align: center;
    color: #888;
    margin: 1rem 0 1rem 0;
    font-size: 1.02rem;
    letter-spacing: 0.02em;
  }
  
  /* Inputs */
  .input {
    /* background: #222; */
    border: none;
    border-radius: 7px;
    padding: 1.1rem 1rem;
    margin-bottom: 1rem;
    color: #fff;
    font-size: 1.05rem;
  }
  
  .input::placeholder {
    color: #888;
  }
  
  /* Login Button */
  .login-btn {
    display: flex;
    align-items: center;
    font-size: 1.15rem;
    font-weight: 500;
    padding: 0.7rem 0;
    margin-bottom: 1rem;
    border: none;
    border-radius: 9px;
    cursor: pointer;
    justify-content: center;
    transition: filter 0.15s;
    background: #007bff;
    color: #fff;
  }
  
  .login-btn:hover {
    filter: brightness(0.85);
  }
  
  /* Bottom Links */
  .bottom-links {
    display: flex;
    justify-content: center;
    margin-top: 1.6rem;
    font-size: 1.01rem;
    color: #aaa;
  }
  
  .bottom-links a {
    color: #aaa;
    margin: 0 0.7rem;
    text-decoration: none;
  }
  
  .bottom-links a:hover {
    text-decoration: underline;
    color: #ff5533;
  }
  